.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #0000001a 0% 0% no-repeat padding-box;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in;
}

.display-overlay {
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}

.overlay-content {
  margin-top: 50px;
}
